
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  body{
    padding : 3%;

      margin: 0;
      font-family: 'Noto Sans', sans-serif;
    }

    footer{
      padding : 20px 50px 50px 20px;
      color : lightgray;
      text-align : right;
      font-size : 15px;
    }

  a { color : black; text-decoration : none; }
  a:link { color: black; }
    /* mouse over link */
  a:hover { opacity : 0.5; }
    /* selected link */
  a:active { opacity : 0.5 ; }


.intro{
  display : flex;
  padding-bottom : 20px;
}

.intro p{ width: 32%;
  font-size : 30px;
}

  p{
    font-size : 15px;
    line-height : 1.5;
  }

  .mobile_menu{
    display : flex;
  }

  .mobile_menu p{ width: 30%; }

.menu {
  position: fixed;
  width : 0px;
  top: 0;
  left: 0;
  right: 0;
  visibility : hidden;
}

.menu ul{
  list-style:none;
  margin:0;
  padding: 20px 25px;
  font-size : 12px;
  line-height : 1.5;
}

.article {
  padding-left : 5px;
  padding-top : 20px;
}

      * { box-sizing: border-box; }
      .outer-grid {
         display: flex;
         flex-wrap: wrap;
         padding: 0px;
      }
      .inner-grid {
         flex: 100%;
         max-width: 100%;
      }
      .inner-grid img {
         width: 100%;
      }

      .inner-grid p{
        font-size : 13px;
        margin-bottom : 120px;
        line-height : 0.8;
      }


.cadre{
  width : 90%;
}

.cadre img{
    max-width: 100%;
    margin-bottom : 25px;
}

.cadre p{
  font-size : 15px;
  width : 100%;
}


.fin_nav{
  display : flex;
}
.fin_nav p{
  height : 50px;
  font-size : 35px;
  color : black;
  width : 30%;
}
